@model List<NoteWiki.Models.NoteBoxModel>

<p> This is the Home</p>
<p>	All note boxes listed here</p>

@foreach(var n in Model)
{
	<a asp-action="Index" asp-controller="NotesList" asp-route-id="@n.NoteBoxGuid">@n.BoxName @n.CreatedAt @n.LastUpdatedAt @n.NoteBoxGuid</a><br />
	<a asp-action="Options" asp-controller="Home" asp-route-id="@n.NoteBoxGuid">Options</a>
	<br />
}

<form asp-action="Create" asp-controller="Home" method="post">
	<input type="text" name="BoxName" placeholder="Enter NoteBox title" required />
	<button type="submit">Add</button>
</form>